#map {
    width: 100%;
    height: 250px;
    border-radius: 10px;
  }
  
  /* Ajustes para o modo escuro */
  [data-bs-theme="dark"] body {
    background-color: #121212;
    color: #e5e5e5;
  }
  
  .card {
    border-radius: 10px;
  }
  